.hidden{overflow:hidden;}
.container{max-width:1098px;height:100%;margin:0 auto;}
.container.flex{display:flex;justify-content:space-between;}

/*  NAV  */
nav{display:flex;align-items:center;justify-content:space-between;width:100%;height:60px;border-bottom:1px solid #ececec;padding:20px;}
nav .logo{font-size:1.3rem;}
nav > .m_hamburger_btn{display:none;}
nav i{font-size:20px;color:#444;}
nav > .menu{display:flex;align-items:center;justify-content:space-between;height:60px;width:1000px;font-size:.95rem;z-index:9;}
nav > .menu > .menu_bg{display:none;width:100%;height:350px;position:absolute;left:0;top:60px;background-color:#fff;border-bottom:1px solid #ececec;}
nav > .menu:hover .depth2{display:block;}
nav > .menu:hover .menu_bg{display:block;}
nav > .menu > li{position:relative;width:200px;display:flex;align-items:center;justify-content:center;height:100%;cursor:pointer;}
nav > .menu > li:hover::after{width:200px;}
nav > .menu > li::after{content:'';position:absolute;left:0;bottom:0;height:2px;background-color:#988CE5;width:0;transition: width 0.4s ease;}
nav > .menu > li > .depth2{display:none;position:absolute;top:60px;text-align:center;box-sizing:border-box;width:200px;height:350px;padding:10px;border-right:1px solid #ececec;}
nav > .menu > li > .depth2.first{border-left:1px solid #ececec;}
nav > .menu > li > .depth2 > li{line-height:30px;cursor:pointer;}
nav > .menu > li > .depth2 > li:hover{color:#988CE5;font-weight:600;}
nav > .nav_btn_wrap > .search_btn{margin-right:15px;}
.fa-minus,.fa-solid{display:none;}

/*  MOBILE NAV  */

nav > .mob_menu{display:block;position:fixed;top:0;left:-100vw;width:100vw;height:100%;background-color:rgba(0,0,0,0.2);transition:left .3s ease;z-index:1000;overflow:hidden;}
nav > .mob_menu.open{left:0;}
nav > .mob_menu > div{background-color:#fff;width:300px;height:100%;position:absolute;}
nav > .mob_menu > div > .menu{padding:20px;}
nav > .mob_menu > div > .menu > .under{position:relative;font-size:1.05rem;line-height:1.8rem;border-bottom:1px solid #ececec;margin-bottom:10px;cursor:pointer;}
nav > .mob_menu > div > .menu > .under > i{position:absolute;right:0;top:7px;font-size:.8rem;}
nav > .mob_menu > div > .menu > .under > .depth2{display:none;width:100%;margin:0 10px 0 15px;font-size:.9rem;line-height:30px;}
nav > .mob_menu > div > .menu > .under > .depth2.open{display:block;}
nav > .mob_menu::-webkit-scrollbar{display:none;}
nav > .mob_menu > div > .mob_header{background-color:#444;color:#fff;padding:30px;text-align:center;}
nav > .mob_menu > div > .mob_header > a > h1{margin-bottom:6px;}
nav > .mob_menu > div > .mob_header > button{cursor:pointer;}
nav > .mob_menu > div > .mob_header > button > i{color:#fff;font-size:.8rem;position:absolute;right:15px;top:15px;}


/*  SWIPER  */
.text_container{height:100%;position:relative;display:flex;flex-direction:column;justify-content:center;text-align:right;width:70%;}
.text_container > h2{margin-bottom:10px;font-size:3rem;font-family: 'NanumbarunGothicBold',sans-serif;letter-spacing:-2px;}
.text_container > p{font-size:1rem;}
.text_container > p.info{margin-top:20px;}
.text_container > p:first-child{margin-bottom:5px;}
.text_container > span{position:absolute;bottom:60px;right:0;display:flex;align-items:center;justify-content:center;border-radius:20px;font-size:.7rem;width:80px;height:30px;border:1px solid #444;color:#444;cursor:pointer;}

.swiper{width:100%;height:600px;}
.swiper-pagination-bullet{width:8px !important;height:8px !important;background:none !important;border:1px solid #fff;}
.swiper-pagination-bullet-active{background:#fff !important;}
.page{width:100%;height:550px;margin-top:50px;}
.page.first{background:linear-gradient(0deg, rgba(255,95,162,1) 0%, rgba(255,255,255,1) 70%);}
.page.second{background:linear-gradient(0deg, rgba(213,95,255,1) 0%, rgba(255,255,255,1) 70%);}
.page.third{background:linear-gradient(0deg, rgba(250,241,29,1) 0%, rgba(255,255,255,1) 70%);}
.page.fourth{background:linear-gradient(0deg, rgba(30,189,151,1) 0%, rgba(255,255,255,1) 70%);}
.page.fifth{background:linear-gradient(0deg, rgba(152,140,229,1) 0%, rgba(255,255,255,1) 70%);;}


/*  ICON  */
.container > .card{border:1px solid #ececec;height:200px;width:19%;border-radius:20px;display:flex;align-items:center;justify-content:center;margin-top:80px;}
.container > .card > .card_wrap{width:fit-content;text-align:center;font-family:'NanumGothicBold',sans-serif;}
.container > .card > .card_wrap > img{width:80px;height:80px;margin-bottom:5px;}
.container.icon{width:100%;}


/*  NEWS  */
.container.news{margin-top:80px;}
.container.news > h2{color:#D55FFF;}
.container.news > .news_wrap{padding:15px;width:100%;border:1px solid #ececec;border-radius:20px;margin-top:20px;}
.container.news > .news_wrap > div{display:flex;align-items:center;margin-bottom:10px;}
.container.news > .news_wrap > div:last-child{margin-bottom:0;}
.container.news > .news_wrap > div > div{display:flex;width:100%;justify-content:space-between;align-items:center;}
.container.news > .news_wrap > div > div > p:nth-child(1){cursor:pointer;text-overflow:ellipsis;width:70%}
.container.news > .news_wrap > div > div > p:nth-child(2){color:#888;}
.container.news > .news_wrap > div > span{margin-right:5px;display:block;border:1px solid #ececec;padding:3px 7px;border-radius:20px;font-weight:600;}
.container.news > .news_wrap > div > span.event{color:#FF5FA2;}
.container.news > .news_wrap > div > span.news{color:#D55FFF;}


/*  BLOG  */
.container.blog{margin-top:80px;margin-bottom:80px;}
.container.blog > .title_wrap{display:flex;justify-content:space-between;}
.container.blog > .title_wrap > h2{color:#1EBD97;margin-bottom:20px;}
.container.blog > .title_wrap > span{cursor:pointer;}
.container.blog > .title_wrap > span > i{margin-right:5px;}
.container.blog > .post_wrap{display:flex;justify-content:space-between;width:100%;}
.container.blog > .post_wrap > a{width:33%;}
.container.blog > .post_wrap > a > .post{padding:15px;display:flex;justify-content:space-between;width:100%;height:180px;border:1px solid #ececec;border-radius:20px;}
.container.blog > .post_wrap > a > .post > .img_box{width:150px;height:150px;overflow:hidden;border-radius:20px;}
.container.blog > .post_wrap > a > .post > .img_box > img{height:100%;}
.container.blog > .post_wrap > a > .post > .text_box{text-align:right;display:flex;flex-direction:column;justify-content:space-between;width:50%;}
.container.blog > .post_wrap > a > .post > .text_box > p{color:#888;}


/*  LOGIN  */
.container.login{height:calc(100vh - 200px);display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;}
.container.login > .login_box{display:flex;flex-direction:column;padding:40px 60px;border:1px solid #ececec;border-radius:20px;width:400px;text-align:center;}
.container.login > .login_box > h2{margin-bottom:30px;color:#988CE5;}
.container.login > .login_box > input{border-radius:5px;padding:10px;margin-bottom:10px;border:1px solid #ececec;}
.container.login > .login_box > button{border-radius:5px;background-color:#988CE5;padding:10px;color:#fff;margin:10px 0;}
.container.login > .login_box > .btn_box{font-size:.8rem;display:flex;justify-content: center;align-items:center;margin-top:10px;}
.container.login > .login_box > .btn_box > .line{display:block;height:9px;width:1px;background-color:#ececec;margin:0 5px;}


/*  FOOTER  */
footer{width:100%;padding:30px 0;color:#fff;font-size:.7rem;background-color:#444;}
footer > .container > div{display:flex;align-items:center;line-height:1.5rem;}
footer > .container > div > span{margin:2px 7px;display:block;width:1px;height:8px;background-color:#999;}
footer > .container > div > a.purple{color:#988CE5;font-weight:600;}
footer > .container > p{line-height:1.1rem;}
footer > .container > .sns{margin-top:15px;font-size:1.4rem;display:flex;justify-content:right;}
footer > .container > .sns > a{margin-left:10px;transition:.3s;}
footer > .container > .sns > a:hover{color:#988CE5;transition:.3s;}


@media(max-width:1334px){
    nav > .menu{width:750px;}
    nav > .menu > li{position:relative;width:150px;}
    nav > .menu > li:hover::after{width:150px !important;}
    nav > .menu > li > .depth2{width:150px;}
    .container{padding:0 20px;}
}


@media(max-width:1024px){
    body{font-size:15px;}
    nav{height:40px;justify-content:center;}
    nav .logo{font-size:0.9rem;}
    nav > .m_hamburger_btn{display:block;position:absolute;left:15px;cursor:pointer;}
    nav > .nav_btn_wrap{display:none;}
    nav > .menu{display:none;}
    .fa-minus,.fa-solid{display:block;}
    .text_container > h2{font-size:2rem;}
    .text_container > p{font-size:.95rem;line-height:1.2rem;}
    .container > .card{height:150px;}
    .container > .card > .card_wrap > img{width:50px;height:50px;}
    .page > .container > div > img{width:250px;}
    .swiper{width:100%;height:500px;}
    .text_container{height:450px;}
    .container.news > .news_wrap > div > div > p:nth-child(1){overflow:hidden;white-space:nowrap;text-overflow:ellipsis;word-break:break-all;}
    .container.blog > .post_wrap{flex-direction:column;}
    .container.blog > .post_wrap > a{width:100%;}
    .container.blog > .post_wrap > a > .post{width:100%;margin-bottom:10px;}
}


@media(max-width:720px){
    body{font-size:13px;}
    .container.login > .login_box{width:350px;}
    .swiper{width:100%;height:600px;}
    .page > .container > div > img{width:200px;}
    .page{margin-top:50px;}
    .container.main{flex-direction:column;justify-content:left;}
    .text_container{width:100%;height:40%;}
    .text_container > h2{margin-top:10px;margin-bottom:5px;font-size:1.5rem;letter-spacing:-1px;}
    .text_container > p{font-size:.9rem;line-height:1.2rem;}
    .text_container > span{bottom:20px;}
    .text_container > p.info{margin-top:10px;}
    .container.icon{display:grid;grid-template-columns:repeat(3,1fr);margin-top:80px;grid-gap:6px;}
    .container > .card{margin-top:0;border:1px solid #ececec;height:130px;width:100%;}
    .container.news > .news_wrap > div > span{display:none;}
    .container.news > .news_wrap > div > div{width:100%;line-height:1.5rem;}
}