*{padding:0;margin:0;box-sizing:border-box;list-style:none;}
a{text-decoration:inherit;color:inherit;}
button{border:none;background:none;}
@font-face {
    font-family: "NanumGothic";
    font-style: normal;
    font-weight: 100;
    src: url("./font/NanumGothic.woff") format("woff");
}
@font-face {
    font-family: "NanumGothicBold";
    font-style: normal;
    font-weight: 100;
    src: url("./font/NanumGothicBold.woff") format("woff");
}
body{font-family: 'NanumGothic', sans-serif;color:#444;letter-spacing:-1px;}
.bold{font-family: 'NanumGothicBold', sans-serif;}
.logo{font-family: 'Michroma', sans-serif;}